# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/content/data/
.gitignore
.idea/
.vs/config/
.vs/tasks.vs.json
Makefile

develop_server.sh
fabfile.py

pelicanconf.py
publishconf.py
requirements.txt
